<div class="hero-carousel">
    <div class="carousel-wrapper">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="../img/destinos/purmamarca-1.jpg" alt="Slide 1">
                <div class="slide-caption">
                    <h2>Bienvenido a Volá!</h2>
                    <p>Soluciones de viaje inolvidables, seguras y personalizadas.</p>
                </div>
            </div>
            <div class="carousel-slide">
                <img src="../img/destinos/bariloche-1.jpg" alt="Slide 2">
                <div class="slide-caption">
                    <h2>Explorá nuevos destinos</h2>
                    <p>Conocé el mundo con nosotros.</p>
                </div>
            </div>
            <div class="carousel-slide">
                <img src="../img/destinos/salta-1.jpg" alt="Slide 3">
                <div class="slide-caption">
                    <h2>Viajes únicos</h2>
                    <p>Tu próxima aventura comienza aquí.</p>
                </div>
            </div>
        </div>
    </div>
</div>