<h2>Nuestos destinos más populares</h2>

<div class="cards">
    <div class="card">
        <img src="../img/destinos/iguazu.jpg" alt="Cataratas del Iguazú">
        <h3>Cataratas del Iguazú</h3>
        <p>Impresionante conjunto de 270 saltos de agua en la frontera entre Argentina y Brasil.</p>
        <p><b>Actividades: </b>Senderismo, paseos en bote, avistaje de flora y fauna.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/MENDOZA.jpg" alt="Mendoza - Viñedos y Aconcagua">
        <h3>Mendoza - Viñedos y Aconcagua</h3>
        <p>Disfruta de bodegas y el majestuoso Aconcagua, la montaña más alta de América.</p>
        <p><b>Actividades: </b>Rutas del vino, trekking en el Aconcagua, visitas a bodegas.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/bariloche-1.jpg" alt="Bariloche">
        <h3>Bariloche</h3>
        <p>Lagos, montañas y deportes de invierno en un paraíso natural en la Patagonia argentina.</p>
        <p><b>Actividades: </b>Senderismo, navegación en el lago, deportes de invierno (esquí, snowboard).</p>
    </div>

    <div class="card">
        <img src="../img/destinos/bsas.jpeg" alt="Buenos Aires">
        <h3>Buenos Aires</h3>
        <p>Cultura vibrante, tango, el Obelisco y los barrios emblemáticos como La Boca y San Telmo.</p>
        <p><b>Actividades: </b>Visitas a museos, caminatas por barrios emblemáticos, shows de tango, compras en
            mercados.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/perito-moreno.jpg" alt="Glaciar Perito Moreno">
        <h3>Glaciar Perito Moreno</h3>
        <p>Espectacular glaciar en el Parque Nacional Los Glaciares, con desprendimientos de hielo.</p>
        <p><b>Actividades: </b>Caminatas sobre el glaciar, navegación por el Lago Argentino, avistaje de icebergs.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/Ushuaia.jpeg" alt="Ushuaia">
        <h3>Ushuaia</h3>
        <p>La ciudad más austral del mundo, rodeada de montañas y acceso a la Antártida y el Canal Beagle.</p>
        <p><b>Actividades: </b>Navegación en el Canal Beagle, trekking en el Parque Nacional Tierra del Fuego,
            excursiones a la Antártida.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/salta.jpeg" alt="Salta - Valles Calchaquíes">
        <h3>Salta - Valles Calchaquíes</h3>
        <p>Hermosos paisajes montañosos, pueblos coloniales y una ruta de vinos única.</p>
        <p><b>Actividades: </b>Paseos en tren, visitas a bodegas, exploración de pueblos.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/sierras-cordoba.jpg" alt="Córdoba - Sierras">
        <h3>Córdoba - Sierras</h3>
        <p>Naturaleza, ríos y turismo rural en una de las regiones más bellas de Argentina.</p>
        <p><b>Actividades: </b>Senderismo, rafting, turismo rural, paseos en bicicleta.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/valdes.jpg" alt="Puerto Madryn - Península Valdés">
        <h3>Puerto Madryn - Península Valdés</h3>
        <p>Avistaje de ballenas, lobos marinos y pingüinos en la costa atlántica argentina.</p>
        <p><b>Actividades: </b>Observación de fauna, avistaje de ballenas, paseos en bote.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/mdq.jpg" alt="Mar del Plata">
        <h3>Mar del Plata</h3>
        <p>Playa, puerto y casino en la ciudad más famosa de la costa argentina.</p>
        <p><b>Actividades: </b>Disfrutar de las playas, visitar el puerto, disfrutar de la gastronomía local, casino.
        </p>
    </div>

    <!-- Lugares internacionales -->

    <div class="card">
        <img src="../img/destinos/china.jpg" alt="Gran Muralla China">
        <h3>Gran Muralla China</h3>
        <p>Monumento histórico, una de las maravillas del mundo, se extiende por miles de kilómetros.</p>
        <p><b>Actividades: </b>Senderismo por secciones accesibles, visitas culturales, fotografía.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/india.jpg" alt="Taj Mahal">
        <h3>Taj Mahal</h3>
        <p>Majestuoso mausoleo en India, símbolo de amor eterno y arquitectura única.</p>
        <p><b>Actividades: </b>Visita al monumento, fotografía, recorridos por los jardines.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/gran-canion.jpg" alt="Gran Cañón">
        <h3>Gran Cañón</h3>
        <p>Inmenso cañón en EE.UU., ideal para hacer senderismo, rafting y disfrutar de la naturaleza.</p>
        <p><b>Actividades: </b>Senderismo, rafting, tours en helicóptero, fotografía.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/machu.jpg" alt="Machu Picchu">
        <h3>Machu Picchu</h3>
        <p>Ciudad Inca en las montañas de Perú, uno de los destinos arqueológicos más visitados del mundo.</p>
        <p><b>Actividades: </b>Senderismo por el Camino Inca, tours guiados, exploración arqueológica.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/paris.jpeg" alt="Torre Eiffel">
        <h3>Torre Eiffel</h3>
        <p>Símbolo de París, ofrece vistas panorámicas de la ciudad desde sus miradores.</p>
        <p><b>Actividades: </b>Subir a los miradores, disfrutar de la gastronomía francesa en el restaurante de la
            torre.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/maldivas.jpeg" alt="Islas Maldivas">
        <h3>Islas Maldivas</h3>
        <p>Paraíso tropical con aguas cristalinas, playas de arena blanca y resorts de lujo.</p>
        <p><b>Actividades: </b>Buceo, snorkel, descansar en resorts exclusivos, deportes acuáticos.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/santorini.jpeg" alt="Santorini">
        <h3>Santorini</h3>
        <p>Isla griega famosa por sus casas blancas, impresionantes vistas y atardeceres inigualables.</p>
        <p><b>Actividades: </b>Recorridos por las aldeas, paseos en barco, degustación de vinos, disfrutar del
            atardecer.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/p[iramides.jpg" alt="Pirámides de Giza">
        <h3>Pirámides de Giza</h3>
        <p>Monumentos milenarios en Egipto, vestigios de la antigua civilización egipcia.</p>
        <p><b>Actividades: </b>Exploración arqueológica, paseo en camello, visitas guiadas.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/coliseo.jpeg" alt="Coliseo">
        <h3>Coliseo</h3>
        <p>El anfiteatro romano más grande de Italia, testigo de la historia del Imperio Romano.</p>
        <p><b>Actividades: </b>Recorridos por el Coliseo, visitas guiadas por el Foro Romano, fotografía.</p>
    </div>

    <div class="card">
        <img src="../img/destinos/sidney.jpg" alt="Ópera de Sídney">
        <h3>Ópera de Sídney</h3>
        <p>Emblemática construcción en Australia, sede de eventos culturales con vistas al puerto de Sídney.</p>
        <p><b>Actividades: </b>Asistir a una obra o concierto, tomar un tour por el edificio, fotografía.</p>
    </div>

</div>
<br>
<h3>Y muchos más... ✈️🌍 </h3>