<h2>Servicios</h2>
<div class="cards">
    <div class="card">
        <img src="../img/servicios/tur-intr.jpg" alt="Servicio 1">
        <h3>Paquetes Internacionales</h3>
        <p>Vive aventuras por el mundo con todo incluido.</p>
    </div>
    <div class="card">
        <img src="../img/servicios/tur-nac.jpg" alt="Servicio 2">
        <h3>Turismo Nacional</h3>
        <p>Descubre los mejores destinos de Argentina.</p>
    </div>
    <div class="card">
        <img src="../img/servicios/viajes-medida.jpeg" alt="Servicio 3">
        <h3>Viajes a Medida</h3>
        <p>Personalizamos tu viaje según tus necesidades.</p>
    </div>
    <div class="card">
        <img src="../img/servicios/asis-viaje.webp" alt="Servicio 4">
        <h3>Asistencia al Viajero</h3>
        <p>Seguro y acompañamiento durante todo el viaje.</p>
    </div>
    <div class="card">
        <img src="../img/servicios/busqueda-pasaje.avif" alt="Servicio 5">
        <h3>Búsqueda de Pasajes</h3>
        <p>Encuentra vuelos y transporte al mejor precio.</p>
    </div>
    <div class="card">
        <img src="../img/servicios/excursiones.webp" alt="Servicio 6">
        <h3>Excursiones y Traslados</h3>
        <p>Organizamos tus traslados y experiencias en destino.</p>
    </div>
</div>