.cards-wrapper {
    padding: 60px 20px;
    background: linear-gradient(to right, #00aeef, #005f99);
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* CENTRA TODAS LAS FILAS */
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.Title_service{
    color: #2c3e50 ;
}

.service-card {
    flex: 1 1 260px;
    /* Mínimo 260px, crece si hay espacio */
    max-width: 300px;
    /* Limita el tamaño máximo si querés */
}

.card {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.829);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 25em;
    padding-bottom: 2em;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card h3 {
    font-size: 20px;
    margin: 16px 0 8px;
    color: #00aeef;
}

.card p {
    padding: 0 16px;
    font-size: 14px;
    color: #555;
}